<h1>Events#show</h1>
<% @events.each do |event| %>
  <span>Creator:</span>
  <span><%= event.creator.username %></span><br>
  <span>Event name:</span>
  <span><%= event.name %></span><br>
  <span>Creator:</span>
  <span><%= event.date %></span><br>
  <span>Content:</span>
  <span><%= event.content %></span><br>
  <span>Location:</span>
  <span><%= event.location %></span><br><br>
<% end %>