<h1>Events</h1>
<span>Creator:</span>
<span><%= @event.creator.username %></span><br>
<span>Event name:</span>
<span><%= @event.name %></span><br>
<span>Date:</span>
<span><%= @event.date %></span><br>
<span>Content:</span>
<span><%= @event.content %></span><br>
<span>Location:</span>
<span><%= @event.location %></span><br><br> 